.support {
  padding-bottom: 100px;
  position: relative;

  &__dec {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 818px;
    pointer-events: none;
  }

  &__dec-2 {
    display: flex;
    pointer-events: none;
    position: absolute;
    width: 139px;
    bottom: 13px;
    right: 38px;
  }

  &__wrapper {
    display: flex;
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }

  &__img {
    width: 100%;
    max-width: 890px;
    display: flex;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
  }

  &__content {
    color: #201c1c;
    width: 100%;
    max-width: 910px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #efefef;
    padding: 68px 60px 110px;
    border-radius: 0 10px 10px 0;
    position: relative;
  }

  &__title {
    font-family: var(--font-text-2);
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 23px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__list-item {
    padding-left: 64px;
    position: relative;
    margin-bottom: 23px;
    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      background-image: url(../img/support/check.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__desc {
    border-radius: 10px;
    background-color: rgba(224, 203, 163, 0.3);
    padding: 30px;
    border: 0.5px #be8d34 solid;
    width: 100%;
    max-width: 490px;
  }

  &__desc-title {
    font-family: var(--font-text-2);
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__desc-text {
    opacity: 0.7;
  }
}

@media (max-width: 1450px) {
  .support {
    &__content {
      max-width: 750px;
    }
  }
}

@media (max-width: 1250px) {
  .support {
    &__dec-2 {
      bottom: -100px;
      right: 0;
    }
    &__content {
      max-width: 550px;
    }
  }
}

@media (max-width: 1000px) {
  .support {
    padding-bottom: 80px;
    &__dec {
      width: 768px;
    }
    &__content {
      padding: 50px 30px;
      max-width: 450px;
    }
    &__title {
      br {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .support {
    &__dec {
      width: 450px;
    }
    &__img {
      display: none;
    }
    &__content {
      max-width: 100%;
      border-radius: 10px;
    }
    &__list-item {
      padding-left: 34px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 450px) {
  .support {
    &__dec {
      display: none;
    }
    &__title {
      font-size: 20px;
    }
    &__content {
      padding: 50px 20px;
    }
  }
}
