@font-face {
  font-family: 'CopperPlate';
  src: url('../fonts/CopperPlate-Bold.eot');
  src: url('../fonts/CopperPlate-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CopperPlate-Bold.woff2') format('woff2'),
    url('../fonts/CopperPlate-Bold.woff') format('woff'),
    url('../fonts/CopperPlate-Bold.ttf') format('truetype'),
    url('../fonts/CopperPlate-Bold.svg#CopperPlate-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
