:root {
  //fonts
  --font-text: 'Noto Sans', sans-serif;
  --font-text-2: 'CopperPlate', sans-serif;

  //color
  --color-dark: #262427;
  --color-light: #efefef;

  //gradient
  --gradient: linear-gradient(274.39deg, #be8d34 -14.04%, #fee3b2 215.29%);
}
